<div class="card pt-2 h-100">
  <img src="{{imageBaseURL}}/thumb_{{product.image}}" class="card-img-top" alt="picture of {{product.name}}">
  <div class="card-body">
    <h5>{{product.name}}</h5>
    <div *ngIf="!hideDescription" [innerHTML]="product.description"></div>
  </div>
  <div class="card-footer text-center">
    <span *ngIf="!product.promotedPrice">{{product.price | currency: 'EUR':'symbol':'1.0-0' }}</span>
    <span id="promoted" *ngIf="product.promotedPrice"
      class="font-weight-light">{{product.price | currency : 'EUR':'symbol':'1.0-0' }}</span>
    <br>
    <span *ngIf="product.promotedPrice" class="font-weight-bold">
      {{product.promotedPrice | currency: 'EUR':'symbol':'1.0-0' }}</span>
  </div>
</div>
