.jumbotron {
    background-image: url('/assets/images/guitar.svg');
    background-position: bottom 10px right 5px;
    background-repeat: no-repeat;
    background-color: #4b4c4c;
    background-position: fixed;
    background-size: 30%;
    color: #fff;
}
