<ng-container *ngIf="!isEditable">
  <td class="align-middle">{{ product.category?.name }}</td>
  <td class="align-middle">{{ product.name }}</td>
  <td class="align-middle" [innerHTML]="product.description"></td>
  <td class="align-middle"><img class="img-fluid" src="{{imageBaseURL}}/thumb_{{ product.image }}" alt="" /></td>
  <td class="align-middle">{{ product.price }} </td>
  <td class="align-middle">{{ product.stock }}</td>
  <td class="align-middle">{{ product.featured }}</td>
  <td class="align-middle">{{ product.active }}</td>
  <td class="align-middle">{{ product.promotedPrice }}</td>
  <td class="align-middle">
    <div class="btn-group">
      <button (click)="isEditable = true" class="btn btn-success">
        <i class="fa fa-pencil"></i>
      </button>
      <button (click)="onDelete(product)" class="btn btn-danger">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </td>
</ng-container>

<ng-container *ngIf="isEditable">
  <td class="align-middle">
    <!-- Hidden form -->
    <form #formref="ngForm">
      <input type="hidden" name="id" [(ngModel)]="product.id">
      <input type="hidden" name="name" [(ngModel)]="product.name" required>
      <input type="hidden" name="description" [(ngModel)]="product.description">
      <input type="hidden" name="price" [(ngModel)]="product.price" required>
      <input type="hidden" name="stock" [(ngModel)]="product.stock" required>
      <input type="hidden" name="featured" [(ngModel)]="product.featured" required>
      <input type="hidden" name="active" [(ngModel)]="product.active" required>
      <input type="hidden" name="promotedPrice" [(ngModel)]="product.promotedPrice">
    </form>
    <!-- end of hidden form -->
    <select class="form-control" [(ngModel)]="product.category" [compareWith]="compareFn">
      <option *ngFor="let category of categories" [ngValue]="category">
        {{ category.name }}
      </option>
    </select>
  </td>
  <td class="align-middle">
    <input
      class="form-control"
      class="form-control"
      type="text"
      [(ngModel)]="product.name"
    />
  </td>
  <td class="align-middle">
    <textarea class="form-control" [(ngModel)]="product.description"></textarea>
  </td>
  <td class="align-middle"><img class="img-fluid" src="{{imageBaseURL}}/thumb_{{ product.image }}" alt="" /></td>
  <td class="align-middle">
    <input
      class="form-control price"
      type="text"
      [ngModel]="product.price"
      (ngModelChange)="product.price = $event"
    />
  </td>
  <td class="align-middle">
    <input
      class="form-control narrow"
      type="number"
      [(ngModel)]="product.stock"
    />
  </td>
  <td class="align-middle">
    <select class="form-control" [(ngModel)]="product.featured">
      <option [ngValue]="true">true</option>
      <option [ngValue]="false">false</option>
    </select>
  </td>
  <td class="align-middle">
    <select class="form-control" [(ngModel)]="product.active">
      <option [ngValue]="true">true</option>
      <option [ngValue]="false">false</option>
    </select>
  </td>
  <td class="align-middle">
    <input
      class="form-control price"
      type="text"
      [ngModel]="product.promotedPrice"
      (ngModelChange)="product.promotedPrice = $event"
    />
  </td>
  <td class="align-middle">
    <div class="btn-group" role="group">
      <button (click)="onUpdate(product)" class="btn btn-info" [disabled]="!formref.form.valid">
        <i class="fa fa-save"></i>
      </button>
      <button (click)="formref.resetForm(originalProductValues); isEditable=false;" class="btn btn-secondary">
        <i class="fa fa-undo"></i>
      </button>
    </div>
  </td>
</ng-container>
