<ng-container *ngIf="!isEditable">
  <td>{{ product.catName }}</td>
  <td>{{ product.name }}</td>
  <td [innerHTML]="product.description"></td>
  <td><img class="img-fluid" src="assets/images/products/thumb_{{ product.image }}" alt="" /></td>
  <td>{{ product.price | currency: 'EUR':'symbol':'1.0-0' }} </td>
  <td>{{ product.stock }}</td>
  <td>{{ product.featured }}</td>
  <td>{{ product.active }}</td>
  <td>{{ product.promotedPrice | currency: 'EUR':'symbol':'1.0-0'}}</td>
  <td>
    <div class="btn-group">
      <button (click)="isEditable = true" class="btn btn-success">
        <i class="fa fa-pencil"></i>
      </button>
    </div>
  </td>
</ng-container>

<ng-container *ngIf="isEditable">
  <td>
    <select class="form-control" [(ngModel)]="product.catId">
      <option *ngFor="let category of categories" [ngValue]="category.id">
        {{ category.name }}
      </option>
    </select>
  </td>
  <td>
    <input
      class="form-control"
      class="form-control"
      type="text"
      [(ngModel)]="product.name"
    />
  </td>
  <td>
    <input
      class="form-control narrow"
      type="text"
      [(ngModel)]="product.description"
    />
  </td>
  <td><img class="img-fluid" src="assets/images/products/thumb_{{ product.image }}" alt="" /></td>
  <td>
    <input
      class="form-control price"
      type="text"
      [ngModel]="product.price | currency: 'EUR':'symbol':'1.0-0'"
      (ngModelChange)="product.price = $event"
    />
  </td>
  <td>
    <input
      class="form-control narrow"
      type="number"
      [(ngModel)]="product.stock"
    />
  </td>
  <td>
    <select class="form-control" [(ngModel)]="product.featured">
      <option [ngValue]="true">true</option>
      <option [ngValue]="false">false</option>
    </select>
  </td>
  <td>
    <select class="form-control" [(ngModel)]="product.active">
      <option [ngValue]="true">true</option>
      <option [ngValue]="false">false</option>
    </select>
  </td>
  <td>
    <input
      class="form-control price"
      type="text"
      [ngModel]="product.promotedPrice | currency: 'EUR':'symbol':'1.0-0'"
      (ngModelChange)="product.promotedPrice = $event"
    />
  </td>
  <td>
    <div class="btn-group">
      <button (click)="onUpdate(product)" class="btn btn-info">
        <i class="fa fa-save"></i>
      </button>
      <button (click)="onDelete(product)" class="btn btn-danger ml-2">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </td>
</ng-container>
